*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: default;
}

*::selection {
    background: transparent;
}

body {
    width: 350px;
    height: 500px;
    background: linear-gradient(to bottom right, rgb(241, 235, 235), rgb(250, 250, 250) 65%);
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-name {
    margin-top: 5vh;
}

.button {
    background-color: transparent;
    color: rgb(10, 9, 9);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid black;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    transition: all 0.7s ease;
    cursor: pointer;
}

.hover-btn:hover {
    background-color: black;
    color: white;
}

.pressedBtn {
    background-color: red;
    border: red;
    box-shadow: 0 0 0 0 red;
    animation: pulsing 1.2s infinite linear;
}

@keyframes pulsing {
    100% {
        box-shadow: 0 0 0 50px rgb(241, 235, 235);
    }
}

.soft-open {
    margin-top: 25vh;
    font-size: 16px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.7s ease;
    cursor: pointer;
}

.soft-open:hover {
    background-color: black;
    color: white;
}


