.parallax {
    margin: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #C0C0C0;
}

.parallax-image {
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 105%;
    height: 105%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    transition: .15s;
}

.parallax-image-1 {
    background-image: url('https://cactussoft.io/assets/img/background/header-parallax-1.svg');
}
  
.parallax-image-2 {
    background-image: url('https://cactussoft.io/assets/img/background/header-parallax-2.svg');
}
  
.parallax-image-3 {
    background-image: url('https://cactussoft.io/assets/img/background/header-parallax-3.svg');
}

.navbar {
    position: absolute;
    top: 5%;
    right: 0;
    font-size: 24px;
    font-weight: 700;
    filter: drop-shadow(12px 12px 2px rgba(0, 0, 0, .5));
    font-family: consolas;
    transform: translate(-50%, -50%);
    color: royalblue;
}

.nav-ul li {
    list-style-type: none;
    display: inline;
    margin-left: 30px;
    transition: .4s;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.nav-ul li:hover {
    background-color: aquamarine;
}

.yeah {
    width: 100%;
    height: 100vh;
    transform: translate(0px, -100vh);
    /* pointer-events: unset; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    transition: .8s;
}